apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: discord-bot-data
  namespace: lol-esports
  labels:
    app: discord-bot
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi